* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%; /* Чтобы страница занимала весь экран */
    display: flex;
    flex-direction: column;
  }
  
  .main-content {
    flex: 1; /* Контент занимает всё доступное пространство */
  }
  
  .footer {
    background-color: #081c22;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 385px; /* Фиксированная высота */
    width: 100%;
    margin-top: auto; /* ОПУСКАЕТ ФУТЕР ВНИЗ */
  }
  
  .footer-container {
    width: 1480px;
    height: 325px;
    display: flex;
    justify-content: space-between;
    align-items: start;
  }
  
  .footer-brand h2 {
    font-size: 32px;
    margin-bottom: 10px;
  }
  
  .footer-brand {
    position: relative;
    top: 60px;
    margin-left: 120px;
  }
  
  .footer-brand p {
    font-size: 16px;
    opacity: 0.8;
    line-height: 24px;
    margin-top: 20px;
  }
  
  .footer-links {
    display: flex;
    gap: 40px;
  }
  
  .footer-column {
    position: relative;
    right: 180px;
    top: 50px;
  }
  
  .footer-column h3 {
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 20px;
  }
  
  .footer-column a {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 14px;
    opacity: 0.8;
    margin-bottom: 8px;
    transition: opacity 0.3s;
    margin-top: 25px;
  }
  
  .footer-column a:hover {
    opacity: 1;
  }
  
  .footer-bottom {
    text-align: center;
    width: 100%;
    height: 60px; /* Фиксированная высота нижнего блока */
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 14px;
    opacity: 0.7;
  }
  